<header class="navbar">
  <div class="nav-left">
    <h1 class="title">SaadResearch</h1>
  </div>

  <div class="navright">
    <a href="https://saadthelegend.netlify.app">Main Portfolio</a>
    <a href="https://saadaiblog.netlify.app">AI Blog</a>

    <button class="menubutton" (click)="toggleMenu()">☰</button>
  </div>


  <div class="mobile-menu" [style.display]="menuOpen ? 'flex' : 'none'">
    <a href="https://saadthelegend.netlify.app">Main Portfolio</a>
    <a href="https://saadaiblog.netlify.app">AI Blog</a>
  </div>
</header>

<main>
  <section class="hero">

    <a href="researchs/1.html">
      <img
        src="https://saadthelegend.netlify.app/_posts/2025/01/2025-01-10-exploring-the-2017-stack-overflow-survey-top-languages-and-developer-salaries/images/banner-article-1.png"
        alt="Research Image"
      />
    </a>


    <h2 id="researchtitle">
      Comparative Analysis of Developer Surveys StackOverflow 2017 vs 2024
    </h2>
  </section>
</main>

<footer class="site-footer">
  <div class="social-icons">
    <a
      href="https://github.com/Saad711T"
      target="_blank"
      class="social-icon"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://linkedin.com/in/saadalmalki711"
      target="_blank"
      class="social-icon"
    >
      <i class="fab fa-linkedin"></i>
    </a>
    <a
      href="https://instagram.com/creator_sai711"
      target="_blank"
      class="social-icon"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://twitter.com/0xdonzdev"
      target="_blank"
      class="social-icon"
    >
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</footer>
